body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #f7cbf0,  #e086d2);
}

header {
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.logo {
    width: 200px;
    height: auto;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box {
    background: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
    color: #44094e;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.login-box button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #007bff, #ff4db8);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.login-box button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,123,255,0.4);
}

.login-box p a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.login-box p a:hover {
    color: #ff4db8;
}
